/* .comment-input-container {
  border: 0.1rem solid #5f9ea0;
  width: 85%;
  height: 3.2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.heart-button {
  color: rgb(150, 140, 140);
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  cursor: pointer;
  /* border: 1px solid black; */
}

.heart-button:hover {
  color: rgb(231, 32, 32);
}

/* .left {
  width: 79%;
  padding-left: 1rem;
  padding-top: 0.8rem;
} */

/* .comment-input {
  height: 2rem;
  border: none;
  font-size: 15px;
  resize: none;
  min-width: 100%;
} */

/* .comment-input:focus {
  outline: none;
} */

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 0.3rem;
  width: 20%;
}

.emoji-button {
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(150, 140, 140);
  cursor: pointer;
}

.emoji-button:hover {
  color: rgb(204, 204, 149);
}

.notActive {
  display: none;
}

/* .send-button {
  color: rgb(150, 140, 140);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  color: #5f9ea0;
  cursor: pointer;
} */

/* .send-button:hover {
  color: #278083;
} */
/* 
@media (max-width: 850px) {
  .comment-input-container {
    width: 90%;
  }
  .comment-input {
    width: 70%;
  }
} */
