.comment-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  width: 100%;
}

.writer-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.commetn-details {
  width: 100%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(97, 97, 97);
}

.writer-username {
  font-size: 10px;
  letter-spacing: 0.3px;
  padding-right: 1rem;
  color: rgb(100, 100, 100);
}
*/ .writer-username:hover {
  color: black;
}
*/ .comment-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reply-button {
  border: none;
  background-color: transparent;
  color: rgb(116, 114, 114);
  font-size: xx-small;
  font-weight: bold;
  text-align: center;
  padding-right: 0.5rem;
  cursor: pointer;
}
.reply-button:hover {
  color: rgb(10, 10, 10);
}
.comment-more-button {
  position: relative;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border: none;
  width: 1rem;
  height: 1rem;
  background-color: inherit;
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.dropdown-more-button {
  position: absolute;
  border-radius: 10px;
  width: 4rem;
  top: -2rem;
  left: 1.8rem;
  background-color: rgb(255, 254, 254);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 3;
}

.reply-textarea {
  margin-left: 0.5rem;
}

.comment-text {
  padding: 0.4rem 0;
  font-size: 14px;
  letter-spacing: 0.3px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
