/* .place-edit-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  color: #101010;
  background-color: #f5f5f5;
  font-size: 14px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all ease-in 0.2s;
} */

/* .place-edit-button:hover {
  color: #5f799e;
} */
