/* .new-place-page-container {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* .selection-container {
  width: 55%;
  height: 30rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.1);
} */

/* .picture {
  width: 100%;
  height: 85%;
} */

/* .uploaded-picture {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
} */

/* .upload-picture-button-container {
  height: 15%;
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.select-picture-button {
  padding: 0.5rem;
  border: 0.5px solid #5f9ea0;
  border-radius: 3px;
  background-color: #5f9ea0;
  color: white;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
} */

/* .select-picture-button:hover {
  transition: all 0.2s ease-in-out;
  background-color: white;
  color: #5f9ea0;
} */

/* .select-picture-icon {
  font-size: 20px;
}

.place-info {
  width: 60%;
  margin: 1rem;
} */

@media (max-width: 950px) {
  /* .new-place-page-container {
    margin-top: 3rem;
    flex-direction: column;
  } */

  .selection-container {
    width: 40rem;
    height: 25rem;
    margin: 4rem 2rem 2rem 2rem;
  }

  .place-info {
    width: 90%;
    margin-bottom: 4rem;
  }
}
