/* .user-item {
  margin: 1rem;
  width: 17.5rem;
  border: 1px solid #d7dce4;
  border-radius: 7px;
} */

/* .user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
} */
/* 
.user-item a:hover,
.user-item a:active {
  background-color: #f3f4f6;
} */

/* .user-item__content {
  padding: 0;
} */

/* .user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
} */

/* .user-item__info__name {
  margin: 0 0 0.5rem 0;
  color: #252f3b;
  font-size: 16px;
  font-weight: bold;
} */

/* .user-item__info__count {
  color: #67707b;
  font-size: 13px;
} */
